body,
div {
    display: flex;
}

body {
    justify-content: center;
}

.grid-container {
    border: solid 2px black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 672px;
}

.grid-piece {
    border: 1px solid;
    display: border-box;
    height: 40px;
    width: 40px;
}
