body {
    max-width: 1000px;
    margin: auto;
    margin-top: 175px;
}

.grid-container {
    display: flex;
    border: solid 2px black;
    width: 960px;
    height: 960px;
    margin-top: 10px;
    flex-direction: column;
    box-sizing: border-box;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-piece {
    flex: 1;
}

.touched {
    background-color: aquamarine;
}
