body {
    max-width: 1000px;
    margin: auto;
    margin-top: 175px;
}

.grid-container {
    display: flex;
    border: solid 2px black;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin-bottom: 10px;
}

.grid-piece {
    border: 1px solid;
    height: 40px;
    width: 40px;
}

.touched {
    background-color: aquamarine;
}
